#Python install files
ccreorg.egg-info/**

# testing output files
test_input/input.h2o.dat
test_input/input.n2.dat
test_input/input.hof.dat

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Dependency files
*.d

# Compiled Python files
*.pyc

# Temporary PSI files
psi.*.clean
output.dat
psi.timer.dat
psi.32
Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
timer.dat
